<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>
    <%= form.hidden_field :hattrick_username %>
    <%= form.hidden_field :auth_provider %>
    <%= form.hidden_field :auth_uid %>
    <%= form.hidden_field :oauth_token %>
    <%= form.hidden_field :oauth_secret %>

    <div class="submit-field">
      <%= form.submit %>
    </div>

    <div class="other-links">
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>
  <% end %>
</div>
